/* 追加されたCSS */
body {
  background-color: #f8fccaf5; /* グレーのホバー状態 */
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#filter-buttons {
margin-bottom: 10px;
}
.back-button{
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #9a24b5; /* グレー */
  color: #fff;
  position: absolute;
  left: 50px;
  z-index: 1000; /* Ensure buttons appear above the map */
  
  }
/* ボタンと検索欄を一行に並べるスタイル */
.button-container1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  left: 50px;
  top:60px;
  z-index: 1000; /* Ensure buttons appear above the map */
}

.button-container2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  left: 50px;
  top:90px;
  z-index: 1000; /* Ensure buttons appear above the map */
}



/* ボタンのスタイル */
.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5eb524; /* グレー */
  color: #fff;
}

.button-container button:hover {
  background-color: #5eb524; /* グレーのホバー状態 */
}

/* 検索欄のスタイル */
#search-input {
  padding: 5px 80px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1; /* 残りのスペースを均等に分配する */
  
}


h1 {
  text-align: center;
}

button {
  margin: 5px;
  padding: 1px 14px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.place-buttons-container1 {

  position: absolute;
  left: 450px;
  z-index: 1000;
}

.place-buttons-container2 {
  
  position: absolute;
  left: 450px;
  top:150px;
  z-index: 1000;
}

/* 観光地のボタンのスタイル */
.place-button {
  background-color: #007bff;
  color: #fff;
}
.place-button:hover {
  background-color: #0056b3;
}
.place-button.selected {
  background-color: #0056b3;
  font-weight: bold;
}
/* 飲食店のボタンのスタイル */
.place-button2 {
  background-color: #ff4500;
  color: #fff;
}
.place-button2:hover {
  background-color: #d32f00;
}
.place-button2.selected {
  background-color: #d32f00;
  font-weight: bold;
}

.leaflet-popup-content {
  font-size: 25px;
  line-height: 1.6;
}
